<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- <meta charset="UTF-8"> -->
  <title>Eliminar Competidor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    .column {
      float: left;
      width: 50%;
      padding: 20px;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .precaucion {
      padding: 20px;
      background-color: #ffa92a;
      color: white;
      margin-bottom: 15px;
    }

    .exito {
      padding: 20px;
      background-color: #2eb885;
      color: white;
      margin-bottom: 15px;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }

    .footer {
      background-color: #343a40;
      width: 100%;
      height: 70px;
      padding: 20px;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div style="min-height:100vh; display:flex; flex-direction:column; justify-content:space-between;">
  <div>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Olimpiadas Universitarias</a>
          </div>
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                  aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/entrenador/dashboard}">Menú</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/entrenador/agregarCompetidor}">Agregar Competidor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/entrenador/consultarCompetidor}">Consultar Competidores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/entrenador/editarCompetidor}">Editar Competidor</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/entrenador/calificacionesEntrenador}">Calificaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calificaciones</a>
              </li>
            </ul>
            <a class="btn btn-danger navbar-btn" th:href="@{/logout}">Cerrar sesión</a>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    </header>
    <br>

    <div style="text-align: left;">

      <div class="precaucion" id="errorIDNoDisponible" th:if="${flagIDNoDisponible}" style="margin-left:120px; margin-right:120px;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Error!</strong> Ya existe un competidor con ese número de cuenta.
      </div>

      <div class="precaucion" id="errorEmailNoDisponible" th:if="${flagEmailNoDisponible}" style="margin-left:120px; margin-right:120px;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Error!</strong> Ya existe un competidor con ese correo.
      </div>

      <div class="exito" id="exitoAgrega" th:if="${exitoAgrega}" style="margin-left:120px; margin-right:120px;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Éxito!</strong> Competidor agregado correctamente.
      </div>

      <div class="row" style="margin-left:120px; margin-right:120px;">
        <form id="formEliminar" th:action="@{/entrenador/eliminarCompetidor}" method="post">
          <div class="form-group">
            <label for="numCuenta">Número de Cuenta</label>
            <input class="form-control" type="text" id="numCuenta" name="numCuenta"
                   placeholder="Número de cuenta" pattern="[0-9]+"
                   maxlength="9" required>
          </div>
          <button class="btn btn-primary" type="submit" id="botonEliminar" name="botonEliminar"
                  data-mdb-ripple-color="dark">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-center text-white">
    <div class="footer">
      Hecho con &#128150; por Opal Software Solutions
    </div>
  </footer>
</div>

</body>

</html>
<!--
Eliminar Competidor
<form th:action="@{/eliminarCompetidor}" method="post">
  <p>Numero de cuenta: <input type="text" id="cuenta" name="cuenta"/></p>
  <input type="submit" id="Eliminar" value="Eliminar"/>
</form>-->
