<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tabla posiciones</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .column {
            display: inline-block;
            width: 40%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .footer {
            background-color: #343a40;
            width: 100%;
            height: 70px;
            padding: 20px;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div style="min-height:100vh; display:flex; flex-direction:column; justify-content:space-between;">
    <div>
        <header>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Olimpiadas Universitarias</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarExample01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CompetidorLandingIH}">Menú</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="#">Retroalimentación</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Tabla de posiciones</a>
                            </li>
                        </ul>
                        <a class="btn btn-danger navbar-btn" th:href="@{/logout}">Cerrar sesión</a>
                    </div>
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <br>
        <div class="row" style="margin-left:120px; margin-right:120px;">
            <div class="column mb-3">
                <form th:action="@{/competidor/getEventosDeDisciplina}">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Disciplina:</span>
                        <select class="form-control" name="id_disciplina">
                            <option th:each="disc : ${listaDisciplinas}" th:value="${disc.id}" th:text="${disc.nombre}" th:selected="${disc.id==id_disciplinaSeleccionada}"/>
                        </select>
                        <button class="btn btn-primary" type="submit" data-mdb-ripple-color="dark">
                            Mostrar eventos
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-left:120px; margin-right:120px;">
            <div class="column mb-3">
                <form th:action="@{/competidor/consultarCalificaciones}">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Evento:</span>
                        <select class="form-control" name="id_evento">
                            <option th:each="eve : ${listaEventos}" th:value="${eve.idEvento}" th:text="${eve.nombre}" th:selected="${eve.idEvento==id_eventoSeleccionado}"/>
                        </select>
                        <button class="btn btn-primary" type="submit" data-mdb-ripple-color="dark">
                            Mostrar posiciones
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" style="margin-left: 120px;margin-right: 120px;">
                <div th:if="${hayEventoSeleccionado}">
                    <h1 th:text="${evento.disciplina.nombre}"></h1>
                    <h2>Tabla de posiciones del evento <span th:text="${evento.nombre}"></span></h2>
                </div>
                <table id="tablaCompetidores" class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>Evento</th>
                        <th colspan="3">Competidor</th>
                        <th>Facultad</th>
                        <th>Puntaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="boleta : ${listaCalificaciones}">
                        <td th:text="${boleta.evento.nombre}">Evento</td>
                        <td th:text="${boleta.competidor.nombre}">Competidor</td>
                        <td th:text="${boleta.competidor.apellidoPaterno}"></td>
                        <td th:text="${boleta.competidor.apellidoMaterno}"></td>
                        <td th:text="${boleta.competidor.facultad}">Facultad</td>
                        <td th:text="${boleta.puntaje}">Puntaje</td>
                    </tr>
                    </tbody>
                </table>
            </div>

    </div>
    <footer class="bg-dark text-center text-white">
        <div class="footer">
            Hecho con &#128150; por Opal Software Solutions
        </div>
    </footer>
</div>



</body>

</html>